---
title: "Electric data visualization"
author: "Frank Dong, Di Ziyan, Qiu Jingxi"
---

data reference:

https://www.eia.gov/todayinenergy/detail.php?id=61783
Hourly Electric Grid Monitor

# Explor the elctric generation in one day
2024.4.10 to 4.16

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
HEGM = pd.read_excel('data/Region_TEX.xlsx', sheet_name="Hourly Charts", header=1)

In [17]:
HEGM.head(1)

,UTC time,Local time,Forecast demand,Demand,Net generation,Total interchange,Coal,Natural gas,Nuclear,Petroleum,...,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81
0,2024-04-06 06:00:00,2024-04-06 01:00:00,41316,41483.0,41574.0,92.0,3523.0,8282.0,3751.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [46]:
HEGM = HEGM[HEGM["Local time"] > "2024-04-10 00:00:00"]
HEGM = HEGM[HEGM["Local time"] < "2024-04-17 00:00:00"]

In [47]:
Hourly = HEGM[["Hour", "Demand", "Net generation", "Coal", "Natural gas", "Petroleum", "Hydro", "Solar", "Wind", "Other"]]

In [48]:
Hourly.dropna(inplace=True)
import warnings
warnings.filterwarnings('ignore')

In [50]:
plot = Hourly.groupby("Hour").mean().round(1)

In [51]:
plot.to_csv("data/plot.csv")